<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello Customers! Welcome to Ecommerce</h1>
    <p class="lead">One of the finest places to get best materials in the world.</p>
  </div>
</div>